*{
	font-family: 'Josefin Sans', sans-serif;
	;
}
html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0;
	font-weight: 600;
	
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 5px;
	color: #808181;
	line-height: 1.8;
}

img {
	max-width: 60%;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Start Home 3 Style
-----------------------*/
.home-three-style{
	background-color: #2a6f97;
}


.home-three-style .main-left-area {
	/* background: #4f5d75; */
	padding-top: 200px;
	padding-right: 80px;
	padding-left: 80px;
}

.home-three-style .main-left-area .section-title h2 {
	margin-bottom: 50px;
	color: #000;
}

.home-three-style .main-right-area{
	padding-top: 25%;
	/* padding-left: 60px; */
	color: #fff;	
}

.main-right-area .section-title h2 {
	margin-bottom: 50px;
	color: #000;
}

.home-three-style .resume-list li{
	padding-left: 0;
}

.home-three-style .resume-list li:after {
	display: none;
}

.home-three-style .resume-list{
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

.home-three-style .header-section{
	padding: 50px 80px;
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.home-three-style .hero-image {
	margin-bottom: 100px;
}

.home-three-style .hero-text h2{
	font-size: 60px;
	margin-bottom: 40px;
}

.home-three-style .skills{
	max-width: 555px;
}

.home-three-style .fact-box.trans{
	margin-bottom: 80px;
}

.home-three-style .social-links{
	text-align: center;
	padding-bottom: 70px;
	padding-top: 120px;
}

.home-three-style .social-links a{
	font-size: 30px;
	margin-right: 40px;
	color: #b9b9b9;
}

.home-three-style .social-links a:hover{
	color: #484848;
}

/*---------------------
	End Home 3 Style
-----------------------*/

/*---------------------
	Start Header section
-----------------------*/
.header-section {
	padding: 50px 40px;
	background: #f2f7f8;
}

.site-logo h2 {
	font-size: 70px;
}

.site-logo h2 {
	color: #000;
}

/*---------------------
	End Header section
-----------------------*/

/*---------------------
	Helper CSS
-----------------------*/
.spad {
	padding-top: 100px;
	padding-bottom: 0px;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 2px;
	line-height: 1.2;
	font-weight: 1000;
	font-size: 60px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

/*------------------------
  Common Elements
--------------------------*/
/* Progress dots */
.language-progress {
	max-width: 280px;
	list-style: none;
}

.language-progress li {
	font-size: 25px;
	position: relative;
	padding-right: 150px;
	margin-bottom: 10px;
	color: #fff;
}

.language-progress .lan-prog {
	position: absolute;
	right: 0;
	top: 0;
}

.language-progress .lan-prog span {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 18px;
	border-radius: 12px;
	background: #40424a;
}

.language-progress .lan-prog span.fade-ele {
	background: #cacaca;
}

/* Icon Box */
.social-links a {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*---------------------
	Hero section
-----------------------*/

.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
	font-size: 170px;
	line-height: normal;
	margin-bottom: 20px;
	color: #000;
}

.hero-text p {
	font-size: 23px;
	line-height: 1.3;
	color: #fff;
}

.hero-image {
	padding-top: 70px;
}

.hero-info h2 {
	margin-bottom: 30px;
	color: #000;
	display: inline-block;
}

.hero-info ul {
	list-style: none;
}

.hero-info ul li {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
}

.hero-info ul li span {
	color: #000;
	font-weight: 600;
	display: inline-block;
	min-width: 150px;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}

/*---------------------
	Resume section
----------------------*/
.resume-section{
	margin-bottom: 80px;
}

.resume-list {
	list-style: none;
	margin-left: 60px;
	padding-left: 110px;
	border-left: 2px solid #40424a;
}

.resume-list li {
	margin-bottom: 10px;
	position: relative;
}

.resume-list h2 {
	font-size: 70px;
	margin-bottom: 10px;
}

.resume-list h3{
	font-size: 30px;
	margin-bottom: 10px;
	color: #000;
}

.resume-list h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 45px;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
	background: #101010;
	padding: 20px 0;
}

.copyright {
	padding-top: 5px;
	font-size: 20px;
	color: #fff;
	line-height: normal;
}



/*----------------------
	Start extra css add 
-----------------------*/

.section-title-list{
	font-size: 20px;
}

/* skill progress css */
.skill-progress {
/* max-width: 500px; */
list-style: none;
}

.skill-progress li {
font-size: 20px;
position: relative;
margin-bottom: 10px;
color: #fff;
}

.skill-progress .lan-prog {
position: absolute;
right: 0;
top: 0;
}

.skill-progress .lan-prog span {
width: 12px;
height: 10px;
display: inline-block;
margin-right: 18px;
border-radius: 12px;
background: #40424a;
}

.skill-progress .lan-prog span.fade-ele {
background: #cacaca;
}
/* skill progress css */

/* Hobby css*/
.hobby {
padding-top: 80px;
padding-bottom: 100px;
}
.hobby-progress {
max-width: 100%;
list-style: none;
}

.hobby-progress li {
font-size: 25px;
position: relative;
margin-bottom: 10px;
}


.section-title-hobby h2 {
display: inline-block;
position: relative;
margin-bottom: 30px;
margin-top: 30px;
padding-bottom: 2px;
line-height: normal;
}

/* Hobby css*/

.main-div{
display: flex;
flex-direction: row;
}
.left-div{
margin-right: 150px;
background-color: #4f5d75;
}

/*-------------------
	End extra css add 
---------------------*/


/* ===========================
  Responsive
==============================*/

@media only screen and (max-width: 1600px) {
	.hero-text h2 {
		font-size: 120px;
	}
}

/*---------------------
	Hero section
-----------------------*/

.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
	font-size: 170px;
	line-height: normal;
	margin-bottom: 20px;
	color: #000;
}

.hero-text p {
	font-size: 23px;
	line-height: 1.3;
	color: #fff;
}

.hero-image {
	padding-top: 70px;
}

.hero-info h2 {
	margin-bottom: 30px;
	color: #000;
	display: inline-block;
}

.hero-info ul {
	list-style: none;
}

.hero-info ul li {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
}

.hero-info ul li span {
	color: #000;
	font-weight: 600;
	display: inline-block;
	min-width: 150px;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}

/*---------------------
	Resume section
----------------------*/
.resume-section{
	margin-bottom: 80px;
}

.resume-list {
	list-style: none;
	margin-left: 60px;
	padding-left: 110px;
	border-left: 2px solid #40424a;
}

.resume-list li {
	margin-bottom: 10px;
	position: relative;
}

.resume-list h2 {
	font-size: 70px;
	margin-bottom: 10px;
}

.resume-list h3{
	font-size: 30px;
	margin-bottom: 10px;
	color: #000;
}

.resume-list h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 45px;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
	background: #101010;
	padding: 20px 0;
}

.copyright {
	padding-top: 5px;
	font-size: 20px;
	color: #fff;
	line-height: normal;
}



/*----------------------
	Start extra css add 
-----------------------*/

.section-title-list{
	font-size: 20px;
}

/* skill progress css */
.skill-progress {
/* max-width: 500px; */
list-style: none;
}

.skill-progress li {
font-size: 20px;
position: relative;
margin-bottom: 10px;
color: #fff;
}

.skill-progress .lan-prog {
position: absolute;
right: 0;
top: 0;
}

.skill-progress .lan-prog span {
width: 12px;
height: 10px;
display: inline-block;
margin-right: 18px;
border-radius: 12px;
background: #40424a;
}

.skill-progress .lan-prog span.fade-ele {
background: #cacaca;
}
/* skill progress css */

/* Hobby css*/
.hobby {
padding-top: 80px;
padding-bottom: 100px;
}
.hobby-progress {
max-width: 100%;
list-style: none;
}

.hobby-progress li {
font-size: 25px;
position: relative;
margin-bottom: 10px;
}


.section-title-hobby h2 {
display: inline-block;
position: relative;
margin-bottom: 30px;
margin-top: 30px;
padding-bottom: 2px;
line-height: normal;
}

/* Hobby css*/

.main-div{
display: flex;
flex-direction: row;
}
.left-div{
margin-right: 150px;
background-color: #4f5d75;
}

/*-------------------
	End extra css add 
---------------------*/


/* ===========================
  Responsive
==============================*/

@media only screen and (max-width: 1600px) {
	.hero-text h2 {
		font-size: 120px;
	}
}
